@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EAF9FF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EAF9FF;
    --foreground: #444444;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  };
}

@layer base {
  body {
    @apply font-montserrat font-poppins;
  }
}

.navbar {
  width: 100%;
  height: 90px;
  border-radius: 25px;
  z-index: 9999;
}

.slide-enter {
  transform: translateX(100%); /* Start from the right */
  transition: transform 0.5s ease-in-out; /* Transition effect */
}

.slide-enter-active {
  transform: translateX(0); /* Slide to the original position */
}

.slide-exit {
  transform: translateX(0); /* Start from the original position */
  transition: transform 0.5s ease-in-out; /* Transition effect */
}

.slide-exit-active {
  transform: translateX(-100%); /* Slide out to the left */
}


